body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #345;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    image-rendering: pixelated;
}
